@import "./../../App.scss";

.profileContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profileSection {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 45px;
  padding-bottom: 20px;
}

.no-match {
  border: 1px solid red;
}