@import "./../../App.scss";

.profileContainer {
    min-height: 90vh;
    padding: 20px;
    .profileSection {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .accountStatusActions {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    .no-match {
        border: 1px solid red;
    }

  }

