@import "./../../App.scss";

.profile-container {
    min-height: 90vh;
    padding: 20px;
    .profile-section {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .account-status-actions {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    .no-match {
        border: 1px solid red;
    }
}
