@import './../../App.scss';

.wellbeingPage{
    background: $beige;
    box-sizing: border-box;
    height: 90vh;
    width: 90vw;
    padding: 30px;
    color: $form-text;

    h1{
        width: 50%;
        padding-bottom: 15px;
        margin-bottom: 45px;
        border-bottom: 2px solid $beige;
    }

    .articleBox{
        display: flex !important;
        flex-direction: column;
        gap: 90px;
        border: 2px solid $form-text;
        box-sizing: border-box;
        height: 200px;
        padding: 15px;
        color: $form-text;
    }

    .btnContainer{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    

        button{
            @include buttonStyle;
            border: 1px solid $form-text;
            background: transparent;
            padding: 5px 10px;
            width: 130px;
            
        }

        a{
            text-decoration: none;
            color: $form-text;
        }
    }
}

.slick-prev:before, .slick-next:before {
  color: $form-text !important;
}