@import "./../../App.scss";

.logo{
    font-size: $titleLg;
    display: flex;
    width: inherit;
    box-shadow: 0 4px 3px -2px $black;
    padding: 5px 20px 10px 20px;
    a{
        text-decoration: none;   
        font-size: 22px;

        &:hover{
            border-bottom: 2px solid $beige-variance;
        }
    }   
    .navRight{
        display: flex; 
        justify-content: flex-end;
        flex: 1;
        gap: 15px;
    }
}