@import "./../../App.scss";

.logo{
    position: absolute;
    top: 18px;
    left: 20px;
    font-size: $titleLg;
    display: flex;
    width: 100%;
    a{
        text-decoration: none;   
        padding-bottom: 5px;
        font-size: 22px;

        &:hover{
            border-bottom: 2px solid $beige-variance;
        }
    }   
    .navRight{
        display: flex; 
        justify-content: flex-end;
        width: 90%;
        gap: 15px;
    }
}