@import './../../App.scss';

.fitnessPage{
    display: flex;
    min-height: 90vh;
    width: 90vw;
    background: $dark-brown;

    section{
        width: 50%;
        padding: 40px;
        display: flex;
        flex-direction: column;    
    }
}

.workoutInfo {
    display: flex;
    gap: 5px;
    align-items: flex-end;
}

.workoutList{
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow: auto;
    max-height: 60vh;
    padding: 15px;
    box-shadow: 0 4px 3px -2px $white;
}

.workoutSection{
    color: $beige;

    .sectionTitle{
        width: 100%;
        padding-bottom: 15px;
        margin-bottom: 15px;
        border-bottom: 2px solid $beige;
        display: flex;
        gap: 5px;
        align-items: baseline;
    }

    .workoutInstance{
        border: 2px solid $beige;
        display: flex;
        justify-content: space-between;
        padding: 8px;
    }

    .imgContainer{
        height: 90px;

        img{
            height: 100%;
            border-radius: 5%;
        }
    }

    .workoutDetails{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .workoutBtn{
        @include buttonStyle;
        width: 150px;
        padding: 5px 10px;
        border: 1px solid $beige;
        background : none;
        text-decoration: none;
        color: $beige; 
        text-align: center;
    }

    .formActions{
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content:center;
        gap: 15px;
    }

    .icon-actions{
        display: flex;
        gap: 10px;

        button{
            padding: 4px 8px;
        }
    }
}

.workoutForm{ 
    align-items: center;
    justify-content: center;
}

@media (max-width: 996px) {
    .fitnessPage {
        flex-direction: column;
        section{
            width: 100%;
            padding: 20px;  
        }
    }
    .workoutSection{
        .workoutInstance{
            overflow: auto;
        }
    }
}