@import './../../App.scss';

.fitness-page {
    display: flex;
    min-height: 90vh;
    width: 90vw;

    section {
        width: 50%;
        padding: 40px;
        display: flex;
        flex-direction: column;    
    }
}

.workout-info {
    display: flex;
    gap: 5px;
    align-items: flex-end;
}

.workout-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow: auto;
    max-height: 60vh;
    padding: 15px;
    box-shadow: 0 4px 3px -2px $form-text;
}

.workout-section {
    color: $form-text;

    .section-title {
        width: 100%;
        padding-bottom: 15px;
        margin-bottom: 15px;
        border-bottom: 2px solid $form-text;
        display: flex;
        gap: 5px;
        align-items: baseline;
    }

    .workout-instance {
        border: 2px solid $beige;
        display: flex;
        justify-content: space-between;
        padding: 8px;
        background-color: $white;
    }

    .img-container {
        height: 90px;

        img {
            height: 100%;
            border-radius: 5%;
        }
    }

    .workout-details {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .workout-btn {
        @include buttonStyle;
        width: 150px;
        padding: 5px 10px;
        border: 1px solid $form-text;
        background: none;
        text-decoration: none;
        color: $form-text; 
        text-align: center;
    }

    .form-actions {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }

    .icon-actions {
        display: flex;
        gap: 10px;

        button {
            padding: 4px 8px;
        }
    }
}

.workout-form { 
    align-items: center;
    justify-content: center;
}

@media (max-width: 996px) {
    .fitness-page {
        flex-direction: column;
        width: unset;
        section {
            width: unset;
            padding: 20px;  
        }
    }
    .workout-list {
        width: 80vw;
    }
    .workout-section {
        .workout-instance {
            overflow: auto;
        }
    }
}