@import '../../App.scss';

.chatbotPage {
    width: 90vw;
}

.container {
    display: grid;
    grid-template-columns: 2fr 3fr;
    & > :first-child {
        grid-column: 1 / -1;
    }
    gap: 10px;
    border-radius: 10px;
    padding: 10px;

    .title {
        text-align: center;
    }
}

.questions {
    .question {
        background: $light-color;
        color: $dark-brown;
        padding: 10px;
        margin: 10px;
        border-radius: 10px;
        box-shadow: 0 0 5px $dark-brown;
        cursor: pointer;

        &:hover {
            transform: scale(1.05);
        }
    }
    .ai {
        color: $light-color;
        background: $dark-brown;
    }
}


.chatbot {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px $dark-brown;
    color: $dark-brown;
    .chatbot__body {
        height: 70vh;
        overflow-y: auto;
    }
    .chatbot__message {
        display: flex;
        &:nth-child(odd) {
            justify-content: flex-end;
        }
        &:nth-child(even) {
            justify-content: flex-start;
        }
    }
    .chatbot__message__content {
        background: $light-color;
        padding: 10px 25px;
        border-radius: 10px;
        box-shadow: 0 0 5px $dark-brown;
        margin: 10px;
        max-width: 60%;
        height: auto;
        word-wrap: break-word;
    }
    .message_input {
        display: flex;
    }
    button {
        @include buttonStyle;
        background: $dark-brown; 
    }
    input {
        @include inputStyle;
    }
}

@media (max-width: 996px) {
    .container {
        display: block;
    }
}