@import './../../App.scss';

.accountPage{
    width: 90vw;
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
    background: $beige;
    
    section{
        display: flex;  
        width: 50%;   
    }
}

.textWeb{
    justify-content: center;
    flex-direction: column;
    color: $form-text;
    h1{  
        font-size: $logoLg;  
        padding-bottom: 25px;
        margin-bottom: 25px;
        border-bottom: 5px solid $form-text;
    }
    p{
        font-size: $texteLg;
    }
}

.formSection{
    align-items: center;
    justify-content: center;
}

@media (max-width: 996px) {
    .textWeb{
        h1{
            font-size: $logoMd;
        }
    }
    .accountPage{
        gap: 15px;
        section {
            width: 100%;
        }
    }
}