@import './../../App.scss';

.accountPage{
    width: 90vw;
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
    background: $lightbrown;
    
    section{
        display: flex;  
        width: 50%;   
    }
}

.textWeb{
    justify-content: center;
    flex-direction: column;
    color: $dark-brown;
    h1{  
        font-size: $logoLg;  
        padding-bottom: 25px;
        margin-bottom: 25px;
        border-bottom: 5px solid $dark-brown;
    }
    p{
        font-size: $texteLg;
    }
}

.formSection{
    align-items: center;
    justify-content: center;
}