//Color palette 
$lightbrown : #ceaa95;
$beige : #ede8e2;
$beige-variance : #846252;
$black : #846252;
$form-color: #fdfdfc;
$form-text: #6a4a3b;
$white: #fff;
$red: #ff0000;


//Fonts 

//Font size
$logoLg: 120px;
$logoMd: 50px;
$titleLg : 30px;
$texteLg: 22px;


//buttons
@mixin buttonStyle(){
    padding: 10px 15px;
    color: $white;

    &:hover{
        cursor: pointer;
        transform:scale(1.05)
    }
}

@mixin inputStyle(){
    box-sizing: border-box;
    width: 100%;
    padding: 8px;
}


.App{
    width: 99.5vw;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    background: $beige;
    align-items: center;
    justify-content: center;
}

// Scrollbar
::-webkit-scrollbar {
    width: 8px;
}
  
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px $form-text; 
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $black; 
    border-radius: 10px;
}