@import './../../App.scss';

.accountForm{
    background: $form-color;
    width: 250px;
    color: $form-text;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    justify-content: center;
    padding: 35px 50px;

    .formTitle{
        font-weight: 400;
        font-size: $titleLg;
        text-align: center;
    }

    .formSection{
        width: 100%;

        input{
            @include inputStyle;
        }
    }

    .formButton{
        @include buttonStyle;
        width: 100%;
        background: $form-text; 
        margin-top: 15px;
        border: none;  
        
        &.danger{
            background: $red;
        }

        a{
            text-decoration: none;
            color: black;
        }
    }
}

.logo a{
    color: $beige-variance;
}

@media (max-width: 996px) {
    .accountForm{ 
        padding: 15px 30px;
    }
}