@import './../../App.scss';

.account-form{
    background: $light-color;
    width: 250px;
    color: $dark-brown;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    justify-content: center;
    padding: 35px 50px;

    .form-title{
        font-weight: 400;
        font-size: $titleLg;
        text-align: center;
    }

    .form-section{
        width: 100%;

        input, select, textarea {
            @include inputStyle;
        }
    }

    .form-button{
        @include buttonStyle;
        width: 100%;
        background: $dark-brown; 
        margin-top: 15px;
        border: none;  
        
        &.danger{
            background: $red;
        }

        a{
            text-decoration: none;
            color: black;
        }
    }
}

.logo a{
    color: $beige-variance;
}

@media (max-width: 996px) {
    .accountForm{ 
        padding: 15px 30px;
    }
}